@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-primary: #be2361;
  --color-secondary: #cf276a;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: light) {
    color-scheme: light;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bree Serif", sans-serif;
  font-weight: 800;
  line-height: 1.4;
}
