@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-primary: #be2361;
  --color-secondary: #cf276a;
  --color-button-active: #d23876;
}

html,
body {
  @media (prefers-color-scheme: light) {
    color-scheme: light;
  }
}
a {
  color: #337ab7;
}
a:hover {
  color: #23527c;
  text-decoration: underline;
}
a.navbar {
  color: white;
}
a.navbar:hover {
  color: rgb(245, 209, 209);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-family: "Bree Serif", sans-serif;
  font-weight: 800;
  a {
    color: black;
  }
  margin-top: 20px;
  margin-bottom: 10px;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
